input, select, textarea {
   border: 2px solid #666666;
   margin: 0.1em;
   font-size: 100%;
}

div.command {
   text-align: center;
}
div.command a.button {
   display: inline-block;
   margin: 0 2em 2em 0;
   width: 250px;
   height: 2em;
   border: 2px solid #cccccc;
   text-decoration: none;
   color: #333333;
   font-weight: bold;
   font-size: 150%;
   padding-top: 0.5em;
   border-color: #cc9999;
   background-color: #ffcccc;
   background: -moz-linear-gradient(top,
      #fffefe, #ffdddd 25%,
      #f8cccc 25%, #ffdddd);
   background: -webkit-gradient(linear, left top, left, bottom
      from(#fffefe), color-stop(0.25, #ffdddd),
      color-stop(0.25, #f8cccc), to(#ffdddd));
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
div.command a.button:hover,
div.command a.button:active {
   outline: none;
}
div.command a.button:active {
   border-color: #ffcccc;
   background-color: #fff5f5;
}
div.message {
   color: #ff0000;
}

div.algorithm a.button {
   display: inline-block;
   margin: 0 2em 2em 0;
   width: 250px;
   height: 8em;
   border: 2px solid #cccccc;
   text-decoration: none;
   background-color: #efefef;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
div.algorithm a.button:hover,
div.algorithm a.button:active {
   border-color: #ccccff;
   background-color: #f5f5ff;
   outline: none;
}
div.algorithm a.button .ratio {
   text-align: left;
   width: 0;
   height: 100%;
   display: block;
   -moz-border-radius-topleft:        8px;
   -moz-border-radius-bottomleft:     8px;
   -webkit-border-top-left-radius:    8px;
   -webkit-border-bottom-left-radius: 8px;
   border-top-left-radius:            8px;
   border-bottom-left-radius:         8px;
}
div.algorithm a.button .ratio,
div.algorithm a.button.done {
   border-color: #88cc99;
   background-color: #bbffcc;
   background: -moz-linear-gradient(top,
      #fefffe, #ccffdd 25%,
      #bbf8cc 25%, #ccffdd);
   background: -webkit-gradient(linear, left top, left, bottom
      from(#fefffe), color-stop(0.25, #ccffdd),
      color-stop(0.25, #bbf8cc), to(#ccffdd));
}
div.algorithm a.button:hover .ratio,
div.algorithm a.button:active .ratio,
div.algorithm a.button.done:hover,
div.algorithm a.button.done:active {
   background-color: #bbffee;
   background: -moz-linear-gradient(top,
      #fefffe, #ccffee 25%,
      #bbf8ee 25%, #ccffee);
   background: -webkit-gradient(linear, left top, left, bottom
      from(#fefffe), color-stop(0.25, #ccffee),
      color-stop(0.25, #bbf8ee), to(#ccffee));
}
div.algorithm a.button.done:hover,
div.algorithm a.button.done:active {
   border-color: #88ddc8;
}
div.algorithm a.button.done .ratio {
   background: transparent ! important;
}
div.algorithm a.button .name,
div.algorithm a.button .desc {
   margin: 0 20px 0 20px;
   display: block;
   width: 180px;
   background-color: transparent;
}
div.algorithm a.button .name {
   padding-top: 1em;
   color: #999999;
   font-weight: bold;
   font-size: 150%;
}
div.algorithm a.button .desc {
   border-top: 1px solid #666666;
   padding-left: 2em;
   font-size: 90%;
   color: #999999;
}
div.algorithm a.button.done .name {
   color: #333333;
}
div.algorithm a.button.done .desc {
   color: #558877;
}

div.loading {
   text-align: center;
}

ol.recommend li.item
{
   clear: both;
}

em.users a,
strong.users a {
   font-size: 80%;
}

em.users a:link,
em.users a:hover,
em.users a:visited,
strong.users a:link,
strong.users a:hover,
strong.users a:visited {
   margin: 0 !important;
   padding: 0 !important;
   border: none !important;
   font-style: normal !important;
   font-weight: bold !important;
   text-decoration: underline !important;
   outline-style: none ! important;
}

strong.users a:link,
strong.users a:hover,
strong.users a:visited {
  color: #ff0000 !important;
  background: #FFCCCC !important;
}

em.users a:link,
em.users a:hover,
em.users a:visited {
  color: #FF6666 !important;
  background: #FFF0F0 !important;
}

dl.info dt
{
   font-weight: bold;
   padding: 0;
   margin: 0;
   float: left;
}
dl.info dd
{
   padding: 0;
   margin: 0;
   float: right;
}

dl.entries
{
   font-size: 80%;
   margin-left: 220px;
   margin-bottom: 3em;
}
dl.entries dt
{
   font-weight: bold;
}
dl.entries dd
{
   margin-left: 2em;
}
dl.entries dd ul
{
   padding: 0;
   margin-bottom: 1em;
}
dl.entries dd ul li
{
   list-style: none;
}


.partial_information {
   float: left;
   /* border:1px solid #eee; */
   /* border-color: #ddd #aaa #aaa #ddd; */
   /* padding: 5px; */
   /* margin: 0 0 0 0; */
   margin-bottom: 3em;
   text-align: left;
   line-height: 1;
   background-color: #FFF;
   font-size: 80%;
   width: 205px;
}
.partial_information ul {
   clear: both;
   overflow: hidden;
   zoom: 1;
   padding: 0 3px;
}
.partial_information ul li {
   list-style: none;
   padding: 0;
   margin: 0;
}
.partial_information ul li.followers img {
   margin:2px 0;
}
.partial_information ul li a.navigator-homepage {
   background: transparent left top no-repeat;
   padding: 1px 0 1px 18px;
}
.partial_information ul.navigator-user-info {
   padding: 5px 5px 0 5px;
   background: #f6f6f6;
}
.partial_information ul.following {
   background: #e6f8b8;
}
.partial_information ul li.navigator-profile-icon {
   width: 90px;
   overflow: hidden;
   float: left;
   text-align: left;
}
.partial_information ul li.info {
   width: 105px;
   float: right;
}
.partial_information ul li.navigator-username {
   font-weight: bold;
   text-align: left;
   font-size: 100%;
}
.partial_information ul li.navigator-following {
   margin-right: 74px;
   width:100px;
   text-align: left;
}
.partial_information ul li.navigator-following a {
   display: block;
   margin: 3px 0;
}
.partial_information ul.hatena-service-list {
   margin-top: 2px;
}
.partial_information ul.hatena-service-list li {
   display: inline;
}
.partial_information a.follow-link,
.partial_information a.ignore-link
{
   cursor: pointer;
   text-decoration: none !important;
   margin-bottom: 5px;
}
.partial_information ul li {
   text-align: right;
   padding-bottom: 3px;
   font-size: 90%;
}
.partial_information ul li span.label {
   float: left;
   font-weight: bold;
}
.partial_information ul li.followers {
   text-align:left;
}

.partial_information ul li span.private {
   font-size: 90%;
}
.partial_information ul li.private {
   text-align: center !important;
   padding: 2px 0;
   background: #000;
   color: #fff;
   margin: -5px 0 5px 0;
   border:1px solid #fff;
   filter:alpha(opacity=20);
   -moz-opacity:0.2;
   opacity:0.2;
   font-size: 80%;
}
.partial_information ul li.navigator-following {
   display: none ! important;
}

.indicator dt {
   margin-top: 2px;
   clear: left;
   float: left;
}
.indicator dd {
   width: 500px;
   margin-top: 2px;
   margin-left: 4em;
}
.indicator dd.ratio {
   white-space: nowrap;
   border: 1px solid #339966;
}
.indicator span.ratio:before,
.indicator span.count:before {
   content: "\0000A0";
}
.indicator span.ratio,
.indicator span.count {
   width: 0px;
   display: block;
   background: #99eecc;
   text-align: left;
}
.indicator .phase {
   white-space: nowrap;
}
